@using eCommerce.DTO.DTOs.CategoryDTOs
@model List<ResultCategoryDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/_Layout.cshtml";
    int count = 0;
}

<div class="col-xl-12">
    <div class="card card-lg">
        <div class="card-header border-bottom-0">
            <div class="d-flex align-items-center justify-content-between w-100">
                <div>
                    <h5 class="mb-0">Kategori Listesi</h5>
                </div>
            <a href="/Admin/Category/InsertCategory/" class="btn btn-success">Yeni Kategori</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table text-nowrap mb-0 table-centered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kategori</th>
                        <th>Ürün Sayısı</th>
                        <th>Durum</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach(var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>
                                <div>
                                    <a href="#" class="d-flex align-items-center gap-2 text-inherit">
                                        <img src="@item.CategoryImage" alt="product" class="rounded" width="40" />
                                        <span class="text-truncate">@item.CategoryName</span>
                                    </a>
                                </div>
                            </td>
                            <td>454</td>
                            <td><span class="badge text-info-emphasis bg-success-subtle">Stokta Var</span></td>
                            <td>
                                <a href="/Admin/Category/DeleteCategory/@item.Id" class="btn btn-danger">Sil</a>
                                <a href="/Admin/Category/UpdateCategory/@item.Id" class="btn btn-info">Düzenle</a>
                            </td>
                        </tr>
                    }
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
