
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @await Component.InvokeAsync("_HomeFeatureComponentPartial")
    @await Component.InvokeAsync("_HomeCategoryComponentPartial")
    @await Component.InvokeAsync("_HomeOfferComponentPartial")
    @await Component.InvokeAsync("_HomePopularProductComponentPartial")
    @await Component.InvokeAsync("_HomeOtherProductComponentPartial")
    @await Component.InvokeAsync("_HomeServiceComponentPartial")
</main>