@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = null;
}

<!doctype html>
<html lang="tr">
@await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_LayoutHeaderComponentPartial")
    @await Component.InvokeAsync("_LayoutShopCartComponentPartial")
    @await Component.InvokeAsync("_LayoutScriptComponentPartial")
</body>
</html>
