@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = null;
}

<!doctype html>
<html lang="tr">

@await Component.InvokeAsync(typeof(eCommerce.UI.ViewComponents.Layout._LayoutHeadComponentPartial))

<body>
    @await Component.InvokeAsync(typeof(eCommerce.UI.ViewComponents.Layout._LayoutHeaderComponentPartial))
    @await Component.InvokeAsync(typeof(eCommerce.UI.ViewComponents.Layout._LayoutShopCartComponentPartial))
    @await Component.InvokeAsync(typeof(eCommerce.UI.ViewComponents.Layout._LayoutModalComponentPartial))
    @RenderBody()
    @await Component.InvokeAsync(typeof(eCommerce.UI.ViewComponents.Layout._LayoutScriptComponentPartial))
</body>

</html>