
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync(typeof(eCommerce.UI.Areas.Admin.ViewComponents.Layout._LayoutHeadComponentPartial))

<body>
    @await Component.InvokeAsync(typeof(eCommerce.UI.Areas.Admin.ViewComponents.Layout._LayoutSidebarComponentPartial))

    <div id="content" class="position-relative h-100">
        @await Component.InvokeAsync(typeof(eCommerce.UI.Areas.Admin.ViewComponents.Layout._LayoutNavbarComponentPartial))

        <div class="custom-container">
            @RenderBody()
        </div>
    </div>

    @await Component.InvokeAsync(typeof(eCommerce.UI.Areas.Admin.ViewComponents.Layout._LayoutScriptComponentPartial))
</body>
</html>
