<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/freshcart-1.0.0/src/assets/tailwind/vendors/tns.css" />
    <link rel="stylesheet" href="/freshcart-1.0.0/src/assets/tailwind/vendors/swiper.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/freshcart-1.0.0/src/assets/images/favicon/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tabler/icons-webfont@2.46.0/tabler-icons.min.css" />

    <link rel="stylesheet" href="/freshcart-1.0.0/src/assets/css/theme.css" />
    <link rel="stylesheet" href="/css/layout-footer.css" />
    <link rel="stylesheet" href="/css/static-pages.css" />
    <title>FreshCart - Taze Market Alışverişi</title>
</head>