@using eCommerce.UI.DTOs.ServiceDTOs
@model List<ResultServiceDTO>

<section class="lg:my-14 my-8">
    <div class="container">
        <div class="flex flex-wrap gap-y-6">
            @foreach(var item in Model)
            {
                <div class="md:w-1/2 lg:w-1/4 px-3">
                    <div class="flex flex-col gap-4">
                        <div class="inline-block"><img src="@item.ServiceIcon" alt="" /></div>
                        <div class="flex flex-col gap-2">
                            <h3 class="text-md">@item.ServiceTitle</h3>
                            <p>
                               @item.ServiceDescription
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>